* {
    padding: 0px;
    margin: auto;
}

body {
    background-color: #02010a;
    font-family: 'Dancing Script', cursive;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

@media only screen and (min-width: 900px) and (max-width: 900px) {}


/*-- HEADER --*/

header {
    border-radius: 10px 10px 0px 0px;
    width: 900px;
    margin: auto;
    background-color: #5b7989;
}

#subheader {
    width: 900px;
    height: 65px;
    margin: auto;
}

#logotipo {
    float: left;
    width: 600px;
    padding: 10px 0px;
}

#logotipo a {
    font-size: 40px;
    text-shadow: 2px #02010a;
}

#logotipo a:hover {
    text-decoration: none;
}


/* MENU */

@media screen and (max-width: 900px) {}

header #subheader nav {
    float: left;
    width: 300px;
    padding: 20px 0px;
    text-align: right;
}

header #subheader nav ul li {
    display: inline;
}

header #subheader nav ul li a {
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

header #subheader nav ul li a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}


/*-- Galeria --*/

.container {
    width: 900px;
    height: 100%;
    background: gold;
    display: flex;
}

@media screen and (min-width: 850px) {
    width: 25%;
}

.image1 {
    margin: 1rem;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    flex: 5;
}

.image2 {
    margin: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    flex: 4;
}

.image3 {
    margin: 1rem;
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
    flex: 2;
}

.image4 {
    margin: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    flex: 6;
}

.image5 {
    margin: 1rem;
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
    flex: 3;
}

.image6 {
    margin: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    flex: 1;
}


/*-- Footer --*/

#footer {
    width: 100%;
    margin: auto;
}

.footerFloat {
    width: 100%;
}

@media all and (min-width: 900px) {
    #footer {
        width: 900px;
        height: 300px;
        margin: auto;
    }
    .footerFloat {
        width: 25%;
        float: left;
    }
}

#wrapper {
    background-color: #C6d5c5;
    width: 900px;
    height: 175px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}