* {
    padding: 0px;
    margin: auto;
}

body {
    background-color: #02010a;
    font-family: 'Dancing Script', cursive;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

@media only screen and (min-width: 900px) and (max-width: 900px) {
    header {
        position: absolute;
    }
}


/*-- HEADER --*/

header {
    border-radius: 10px 10px 0px 0px;
    width: 900px;
    margin: auto;
    background-color: #5b7989;
}

#subheader {
    width: 900px;
    height: 65px;
    margin: auto;
}

#logotipo {
    float: left;
    width: 600px;
    padding: 10px 0px;
}

#logotipo a {
    font-size: 40px;
    text-shadow: 2px #02010a;
}

#logotipo a:hover {
    text-decoration: none;
}


/* MENU */

@media screen and (max-width: 900px) {
    header #subheader nav {
        margin: auto;
        width: 75%;
    }
}

header #subheader nav {
    float: left;
    width: 300px;
    padding: 20px 0px;
    text-align: right;
}

header #subheader nav ul li {
    display: inline;
}

header #subheader nav ul li a {
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

header #subheader nav ul li a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}


/*-- Imagen Principal --*/

.contenedor2 {
    background-color: #82c3a6;
    width: 900px;
    margin: auto;
}

.contenedor2 img {
    width: 70%;
    box-shadow: 2px #02010a;
    font-weight: bolder;
}


/*-- Imagenes Secundarias --*/

.titulo1 {
    font-size: 25px;
    color: black !important;
}

.titulo2 {
    font-size: 25px;
    color: black !important;
}

h3 {
    margin-bottom: -40rem;
}

.retratos h3 {
    margin-left: 10rem;
}

.contenedor3 {
    background-color: #d5c75f;
    border: 1px;
    width: 900px;
    margin: auto;
    display: flex;
}

.imagen1 {
    flex: 2;
    height: 70%;
    margin: 3rem;
    box-shadow: 2px 2px 2px 2px #82c3a6;
}

.imagen2 {
    flex: 1;
    margin: 3rem;
    box-shadow: 2px 2px 2px 2px #82c3a6;
}

#rotacion {
    -moz-transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
    -ms-transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
    -o-transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
    -webkit-transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
    transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
}

#rotacion:hover {
    -moz-transform: rotate(10deg);
    /*Comenzamos a aplicar el valor rotate de la transormacion*/
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

#rotacion2 {
    -moz-transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
    -ms-transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
    -o-transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
    -webkit-transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
    transition: all 3s ease;
    /*Definimos las transiciones, deben durar 3 segundos*/
}

#rotacion2:hover {
    transform: translate(5px, 20px);
}


/*-- Footer --*/

#footer {
    width: 100%;
    margin: auto;
}

.footerFloat {
    width: 100%;
}

@media all and (min-width: 900px) {
    #footer {
        width: 900px;
        height: 175px;
        margin: auto;
    }
    .footerFloat {
        width: 25%;
        float: left;
    }
}

#wrapper {
    background-color: #C6d5c5;
    width: 900px;
    height: 175px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}


/* Medias Queries */